################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TradingPlatform/.vs/TradingPlatform/v16/.suo
/TradingPlatform/TradingPlatformAPITests/bin/Debug/netcoreapp3.1
/TradingPlatform/.vs/TradingPlatform/v16/TestStore/0
/TradingPlatform/TradingPlatformAPI/bin/Debug/net5.0
/TradingPlatform/TradingPlatformAPI/obj/Debug/net5.0/ref
/TradingPlatform/TradingPlatformAPI/obj/Debug/net5.0
